<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izmena grupe </title>
</head>
<body>
    <form action="{% url 'changedGroup' %}" method="post">
        {% csrf_token %}
	    <table border="1">
        <tbody>
        <tr>
        <td>Oznaka grupe:</td>
        <td><input type="text" rows="1" cols="10" name="oznaka_grupe" value={{grupa.oznaka_grupe}} required/></td>
        </tr>
        <tr>
        <td>Semestar:</td>
        <td>
            <select name="oznaka_semestra" required>
                <option value="1" >1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option selected="selected">{{grupa.za_semestar_id}}</option>
                
            </select>
        </td>
        </tr>
        <tr>
        <td>Kapacitet</td>
        <td><input type="number" rows="1" cols="10" name="kapacitet" value={{grupa.kapacitet}} required/></td>
        </tr>
        <tr>
        <td>Smer:</td>
        <td>
            <select name="smer" required>
                <option value="RN">RN</option>
                <option value="RM">RM</option>
            </select>
        </td>
        </tr>
        <tr>
        <td>Aktivna:</td>
        <td>
            {% if grupa.aktivna %}
            <input type="checkbox" name="aktivna" checked/>
            {% else %}
            <input type="checkbox" name="aktivna"/>
            {% endif %}
            
        </td>
        </tr>
        <tr>
        <td>Za semestar:</td>
        <td><input type="number" name='za_semestar' cols="10" required/></td>
        </tr>
        <tr>
        <td>Pobrisati postojece predmete:</td>
        <td><input type="checkbox" name="reset"/></td>
        </tr>
        <tr>
        <td>Predmeti</td>
        <td>
            <select name="predmeti" multiple>
                {% for predmet in predmeti %}
                <option value={{predmet.id}}>{{predmet.naziv}}</option>
                {% endfor %}
            </select>
        </td>
        </tr>
        </tbody>
        </table>
        <br>
        <input type="submit" value="Snimi">
    </form>
</body>
</html>