<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izbor grupe ({{username}})</title>
</head>
<body>
	<form action="{% url 'izaberiGrupu' %}" method="post">
		{% csrf_token %}
	    <table border="1">
	    	<tr>
	    		<td> Indeks </td>
	    		<td> 
		    		<select name="oznaka_semestra" required>
		    			{% for smer in smerovi %}
		    			<option value='{{smer}}' {% if student.smer == '{{smer}}' %} selected {% endif %}>{{smer}}</option>
		    			{% endfor %}
		            </select>
		            <input type="text" rows="1" cols="5" name="broj_indeksa" size="3" value='{{ student.broj_indeksa }}' required />
		            /
		            <select name="godina_upisa" required>
		            	{% for godina in godine_upisa %}
						<option value="{{godina}}" {% if student.godina_upisa == '{{godina}}' %} selected {% endif %}>{{godina}}</option>
		            	{% endfor %}
		            </select>
		            	 
        		</td> 
	    	</tr>
	    	<tr>
	    		<td> Ime </td>
	    		<td> <input type="text" rows="1" cols="20" name="ime" value = '{{ student.ime }}' required /> </td>
	    	</tr>
	    	<tr>
	    		<td> Prezime </td>
	    		<td> <input type="text" rows="1" cols="20" name="prezime" value = '{{student.prezime}}' required /> </td>
	    	</tr>
	    	<tr>
	    		<td> Broj do sada ukupno ostvarenih ESPB </td>
	    		<td> <input type="text" rows="1" cols="5" name="broj_ostvarenih_ESPB" size="3" required /> </td>
	    	</tr>
	    	<tr>
	    		<td> Skolske {{skolska_godina_pocetak}}/{{skolska_godina_kraj}} godine upisujem ESPB </td>
	    		<td> <input type="text" rows="1" cols="5" name="broj_ESPB_upisanih" size="3" required /> </td>
	    	</tr>
	    	<tr>
	    		<td> Broj do sada polozenih ispita </td>
	    		<td> <input type="text" rows="1" cols="5" name="broj_polozenih_ispita" size="3" required /> </td>
	    	</tr>
	    	<tr>
	    		<td> Semestar </td>
	    		<td>
	    			{% for sm in semestri %}
	    			<input type="radio" name="semestar" value='{{sm}}'> {{sm}} </input>
	    			{% endfor %}
	    		 </td>
	    	</tr>
	    	<tr>
	    		<td> Prvi put upisuje semestar </td>
	    		<td>
	    			<input type="radio" name="prvi_put_upisuje" value="Da"> Da </input>
	    			<input type="radio" name="prvi_put_upisuje" value="Ne"> Ne </input> 
	    		 </td>
	    	</tr>
	    	<tr>
	    		<td> Grupa koju student bira </td>
	    		<td> 
	    			{% for grupa in grupe %}
	    			<input type="radio" name="izbor_grupe" value="{{grupa.id}}">{{grupa.oznaka_grupe}}</input>
	    			{% endfor %}
	    		</td>
	    	</tr>
	    	<tr>
	    		<td> Nepolozeni predmeti iz predhodnih godina </td>
	    		<td> 
	            	<select name="predmeti" multiple required>
	                	{% for predmet in predmeti %}
	                	<option value={{predmet.id}}>{{predmet.naziv}}</option>
	                	{% endfor %}
	            	</select>
	            </td>
	    	</tr>
	    	<tr>
	    		<td> Nacin placanja skolarine </td>
	    		<td>
	    			<input type="radio" name="nacin_placanja" value="odjednom"> Odjednom </input>
	    			<input type="radio" name="nacin_placanja" value="na_rate"> Na rate </input>
	    			<input type="radio" name="nacin_placanja" value="stipendista"> Stipendista </input>
	    		 </td>
	    	</tr>
	    	<tr>
	    		<td></td>
	    		<td><input type="submit" value="Sacuvaj"> </td>
	    	</tr>
	    </table>	
	</form>
</body>
</html>